@import '@styles/var.scss';
@import '@styles/mixins.scss';

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-block: 40px;
  padding-inline: 10px;
}

.title {
  font-weight: bold;
  font-size: 60px;
}

.text {
  margin-block: 10px 20px;
}

@media (max-width: $tablet) {
  .title {
    line-height: 1;
    font-size: 45px;
  }
}
