@import '@styles/var.scss';
@import '@styles/mixins.scss';

.mobileNavList {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: $white;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  transition: left 0.5s ease;
  display: none;
}

.show {
  left: 0;
}

.header {
  flex-basis: 70px;
  flex-shrink: 0;
  width: 100%;
  @include container(true);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close {
  padding: 8px;
  transition: color 0.5s ease;

  &:hover {
    color: $blue-500;
  }
}

.nav {
  flex-grow: 1;
  overflow-y: scroll;
}

.list {
  padding: 10px;
  font-size: 25px;

  &Item {
    transition: color 0.5s ease;

    &:hover {
      color: $blue-500;
    }
  }
}

.link {
  padding: 10px 16px;
  display: block;
}

.active {
  color: $blue-500;
}

.tel {
  color: $blue-500;
}

@media (max-width: $tablet) {
  .mobileNavList {
    display: flex;
  }
}
