@import '@styles/var.scss';

.input {
  height: 50px;
  width: 100%;
  border-radius: $br;
  padding-inline: 30px;
  color: $black-600;
  background-color: $gray-100;
  transition: color 0.4s ease;

  &:focus {
    outline: 2px solid $blue-500;
  }

  &::placeholder {
    color: $gray-700;
    font-weight: 500;
  }
}

.error {
  margin-top: 6px;
  margin-left: 16px;
  font-size: 0.8em;
  color: $red;
}
